{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume for {{ job.title }}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<a href="/jobs">Back to Jobs</a> | <a href="/">Back to Home</a>
<hr><br>

<h2>Experience</h2>

{% for experience in experiences %}
    <h3>{{ experience.title }}</h3>
    <p>{{ experience.startdate }} -
        {% if experience.current %}
            Present
        {% else %}
            {{ experience.enddate }}
        {% endif %}
    <p>{{ experience.description }}</p>
    <p>Skills:</p>
    <ul>
        {% for skill in experience.skills.all %}
            <li>{{ skill.title }}</li>
        {% endfor %}
    </ul>
    <br>
{% endfor %}

<br>
<hr>
<br>

<h2>Portfolio</h2>

{% for piece in pieces %}
    <h3>{{ piece.title }}</h3>
    <p>{{ piece.description }}</p>
    <p>Skills:</p>
    <ul>
        {% for skill in piece.skills.all %}
            <li>{{ skill.title }}</li>
        {% endfor %}
    </ul>
    <br>
{% endfor %}

</body>
</html>