{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Job</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<a href="/">Back to Home</a> | <a href="/jobs">Back to Jobs</a>

<h2>Edit {{ job.title }} Job | <a class="delete" href="/deletejob/{{ job.id }}/">Delete Job</a></h2>
<h3>EDIT</h3>
<p><i>To select multiple skills, hold CTRL</i></p>

<form method="post" action="{% url 'jobedit' job.id %}">
    {% csrf_token %}
    {{ jobform.as_p }}
    <button type="submit">Make Changes</button>
</form>

</body>
</html>