{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Portfolio Piece</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<a href="/experiences">Back to Portfolio</a>

<h2>Edit {{ experience.title }} Piece</h2>
<a href="/deletepiece/{{ piece.id }}/">Delete Piece</a>

<form method="post" action="{% url 'pieceedit' piece.id %}">
    {% csrf_token %}
    {{ pieceform.as_p }}
    <button type="submit">Make Changes</button>
</form>

</body>
</html>