{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Job</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<a href="/jobs">Back to Jobs</a> | <a href="/">Back to Home</a>

<h2>Edit {{ job.title }} Job</h2>
<a href="/deletejob/{{ job.id }}/">Delete Job</a>

{#<h2>{{ job.title }}</h2>#}
{#<p><a>{{ job.link }}</a></p>#}
{#<p>#}
{#    {% for skill in job.skills.all %}#}
{#        {{ skill.title }}#}
{#    {% endfor %}#}
{#</p>#}
{#<p>{{ job.notes }}</p>#}
{#<a href="/deletejob/{{ job.id }}/">Delete Job</a>#}

<form method="post" action="{% url 'jobedit' job.id %}">
    {% csrf_token %}
    {{ jobform.as_p }}
    <button type="submit">Make Changes</button>
</form>

</body>
</html>