{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Skill</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<a href="/">Back to Home</a> | <a href="/skills">Back to Skills</a><hr><br>

<h2>Edit {{ skill.title }} Skill  | <a class="delete" href="/deleteskill/{{skill.id}}/">Delete Skill</a></h2><br>
<h3>EDIT</h3>

<form method="post" action="{% url 'skilledit' skill.id %}">
    {% csrf_token %}
    {{ skillform.as_p }}
    <button type="submit">Make Changes</button>
</form>

</body>
</html>