{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Experience</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<a href="/">Back to Home</a> | <a href="/experiences">Back to Experiences</a>

<h2>Edit {{ experience.title }} Experience | <a class="delete" href="/deleteexperience/{{ experience.id }}/">Delete Experience</a></h2>
<h3>EDIT</h3>
<p><i>To select multiple skills, hold CTRL</i></p>

<form method="post" action="{% url 'experienceedit' experience.id %}">
    {% csrf_token %}
    {{ experienceform.as_p }}
    <button type="submit">Make Changes</button>
</form>

</body>
</html>