{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Skill</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<a href="/skills">Back to Skills</a>

<h2>Edit {{ skill.title }} Skill</h2>

{#<h2>{{ skill.title }}</h2>#}
{#<a href="/deleteskill/{{skill.id}}/">Delete Skill</a>#}

<form method="post" action="{% url 'skilledit' skill.id %}">
    {% csrf_token %}
    {{ skillform.as_p }}
    <button type="submit">Make Changes</button>
</form>

</body>
</html>