{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Experiences</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<a href="profile">Back to Home</a>

<h1>Experiences</h1>

<br>

<h2>Saved Experiences</h2>
<ul>
    {% for experience in experiences.all %}
        <li>
            <h3>{{ experience.title }}</h3>
            <p>{{ experience.startdate }} -
            {% if experience.current %}
                Present
            {% else %}
                {{ experience.enddate }}
            {% endif %}
            <p>
                {% for skill in experience.skills.all %}
                    {{ skill.title }}
                {% endfor %}
            </p>
            </p>
            <p>{{ experience.description }}</p>
            <a href="editexperience/{{experience.id}}/">Edit Experience</a>
        </li>
    {% endfor %}
</ul>

<hr>

<h2>Add Experience</h2>

<form method="post" action="{% url 'addexperience' %}">
    {% csrf_token %}
    {{ experienceform.as_p }}
    <button type="submit">Add Experience</button>
</form>

</body>

<script src="{% static 'script.js' %}"></script>

</html>