{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Experiences</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<a href="profile">Back to Home</a><br>
<br><p><i>Add new experiences at the bottom of the page. To delete an experience, select edit then delete.</i></p><hr><br>

<h1>Experiences</h1>

<br>

<h2>Saved Experiences</h2>
<ul>
    {% for experience in experiences.all %}
        <li>
            <h3>{{ experience.title }}</h3>
            <p>{{ experience.startdate }} -
            {% if experience.current %}
                Present
            {% else %}
                {{ experience.enddate }}
            {% endif %}
            <p>{{ experience.description }}</p>
            <p>Skills:</p>
            <ul>
                {% for skill in experience.skills.all %}
                    <li>{{ skill.title }}</li>
                {% endfor %}
            </ul>
            <a href="editexperience/{{experience.id}}/">Edit Experience</a>
        </li>
        <br>
    {% endfor %}
</ul>

<hr><br>

<h2>Add Experience</h2>
<p><i>To select multiple skills, hold CTRL</i></p>
<form method="post" action="{% url 'addexperience' %}">
    {% csrf_token %}
    {{ experienceform.as_p }}
    <button type="submit">Add Experience</button>
</form>

</body>

<script src="{% static 'script.js' %}"></script>

</html>