<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Test</title>
</head>
<body>

<h1>Test Test</h1>

<ul>
    {% for experience in experiences %}
        <li>
            <h2>{{ experience.title }}</h2>
            <p>{{ experience.startmonth }}/{{ experience.startyear }} - {{ experience.endmonth }}/{{ experience.startyear }}
                {% if experience.ongoing %} | Ongoing{% endif %}</p>
            <p>{{ experience.description }}</p>
        </li>
    {% endfor %}
</ul>

</body>
</html>