{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobs</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<a href="profile">Back to Home</a><br>
<br><p><i>Add new jobs at the bottom of the page. To delete a job, select edit then delete.</i></p>
<p><i>Select build resume to display a generated resume and recommended portfolio pieces.</i></p><hr><br>

<h1>Jobs</h1>

<br>

<h2>Saved Jobs</h2>

<ul>
    {% for job in jobs.all %}
        <li>
            <h3>{{ job.title }}</h3>
            {% if job.link != null %}
                <p>LINK: <a target="_blank" href="{{ job.link }}">{{ job.link }}</a></p>
            {% endif %}

            <p>ASSOCIATED SKILLS:</p>
            <ul>
                {% for skill in job.skills.all %}
                    <li>{{ skill.title }}</li>
                {% endfor %}
            </ul>

            {% if job.notes != null %}
                <p>NOTES: {{ job.notes }}</p>
            {% endif %}

            <p><a href="editjob/{{job.id}}/">Edit Job</a></p>
            <p><a class="build" href="buildresume/{{ job.id }}/">BUILD RESUME</a></p>
        </li>
        <br>
    {% endfor %}

</ul>

<hr><br>

<h2>Save a Job</h2>
<p><i>To select multiple skills, hold CTRL</i></p>
<form method="post" action="{% url 'addjob' %}">
    {% csrf_token %}
    {{ jobform.as_p }}
    <button type="submit">Save Job</button>
</form>

</body>

<script src="{% static 'script.js' %}"></script>
</html>