{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<a href="profile">Back to Home</a><br>

<h1>Portfolio</h1>

<br>

<h2>Saved Pieces</h2>
<ul>
    {% for piece in pieces.all %}
        <li>
            <h3>{{ piece.title }}</h3>
            {% if piece.image %}
                <img src="media/{{ piece.image }}/">
            {% endif %}
            <p>{{ piece.description }}</p>
            <p>Skills:</p>
            <ul>
                {% for skill in piece.skills.all %}
                    <li>{{ skill.title }}</li>
                {% endfor %}
            </ul>
        <a href="editpiece/{{ piece.id }}">Edit Piece</a>
        </li>
    {% endfor %}
</ul>

<br><hr><br>

<h2>Add Portfolio Piece</h2>

<form method="post" action="{% url 'addpiece' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ pieceform.as_p }}
    <button type="submit">Add Piece</button>
</form>

</body>
<script src="{% static 'script.js' %}"></script>
</html>