{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<h1>Welcome {{ profile.user.username }}</h1>
<a class="delete" href="signout">Logout</a>
<br>
<hr>
<br>

<h2>Your Information</h2><br>

<h3><a href="experiences">Experiences</a></h3>
<p>{{ profile.experiences.all|length }} saved experiences</p>
<p>&emsp;View, create, and edit your saved experiences (jobs, volunteering, etc.).</p>
<br>

<h3><a href="portfolio">Portfolio</a></h3>
<p>{{ profile.portfoliopieces.all|length }} saved pieces</p>
<p>&emsp;View, create, and edit your saved portfolio pieces.</p>
<br>

<h3><a href="skills">Skills</a></h3>
<p>{{ profile.skills.all|length }} saved skills</p>
<p>&emsp;View, create, and edit your saved skills. These skills are related to your experiences, portfolio, and job, including skills you don't have but are useful for saved jobs.</p>
<br>

<h3><a href="jobs">Saved Jobs</a></h3>
<p>{{ profile.jobs.all|length }} saved jobs</p>
<p>&emsp;View, create, and edit job listings you're interested in. Generate tailored resumes from your data.</p>

<br><br>

<h2>Development Tools</h2><br>

<h3>Key Skills</h3>
<p>These skills are in a lot of your saved jobs. Developing these skills could be beneficial for a lot of opportunities that interest you.</p>
{% if not keyskills %}
    <p>You have no saved skills, or no skills linked to jobs and experiences. Go add some <a href="skills">skills</a>, or populate your <a href="jobs">jobs</a>, <a href="portfolio">portfolio</a>, and <a href="experiences">experiences</a> with them.</p>
{% endif %}
<ul>
{% for skill in keyskills %}
    {% if skill %}
        <li>{{ skill }}</li>
    {% endif %}
{% endfor %}
</ul><br>

<h3>Weak Skills</h3>
<p>These skills are in a lot of your saved jobs, but you don't have many saved experiences with them compared to saved jobs.</p>
{% if not weakskills %}
    <p>You have no saved skills, or no skills linked to jobs and experiences. Go add some <a href="skills">skills</a>, or populate your <a href="jobs">jobs</a>, <a href="portfolio">portfolio</a>, and <a href="experiences">experiences</a> with them.</p>
{% endif %}
<ul>
{% for skill in weakskills %}
    {% if skill %}
        <li>{{ skill }}</li>
    {% endif %}
{% endfor %}
</ul><br>

<h3>Strong Skills</h3>
<p>These skills are in a lot of your saved experiences and portfolio pieces. You have a lot of experience doing these things.</p>
{% if not strongskills %}
    <p>You have no saved skills. Go add some in <a href="skills">Skills</a>.</p>
{% endif %}
<ul>
{% for skill in strongskills %}
    {% if skill %}
        <li>{{ skill }}</li>
    {% endif %}
{% endfor %}
</ul>

</body>

<script src="{% static 'script.js' %}"></script>

</html>