{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<h1>Welcome {{ profile.user.username }}</h1>
<a href="signout">Logout</a>
<br>
<hr>
<br>

<h3>Experiences</h3>
<p><a href="experiences">&emsp;View and Edit</a></p>
<p>&emsp;{{ profile.experiences.all|length }} saved experiences</p>

<h3>Skills</h3>
<p><a href="skills">&emsp;View and Edit</a></p>
<p>&emsp;{{ profile.skills.all|length }} saved skills</p>

<h3>Saved Jobs</h3>
<p><a href="jobs">&emsp;View and Edit</a></p>
<p>&emsp;{{ profile.jobs.all|length }} saved jobs</p>

</body>

<script src="{% static 'script.js' %}"></script>

</html>